.toggle {
    margin: 0;

    &:hover {
        background-color: inherit !important;
    }

    .layer-row {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}