* {
  margin: 0;
  padding: 0;
 
}
.btn-main {
  border-radius: 3px;
  padding: 2px;
  /* box-shadow: inset 1px 1px 2px rgba(209, 193, 193, 0.6),
    inset -1px -1px 2px rgba(0, 0, 0, 0.6); */
  cursor: pointer;
  background-color : #EBEBEB;
  color: black
}
.popup-delete{
  cursor: pointer;
  color: white;
  background-color: #D51B60;
  padding: 2;
  border-radius: "5px";
}
.popup-edit{
  cursor: pointer;
  color: white;
  background-color: #D51B60;
  padding: 2;
  border-radius: "5px";
}

.maplibregl-popup-close-button{
  font-size: large;
  padding: 5px;
  background-color: #D51B60;
  color: #EBEBEB;


}

.maplibregl-popup-close-button:hover {
  background-color: black;
 
}